{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block content %}
<div class="container-fluid min-vh-100 nav-padding">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="main-heading-padding">Shopping Cart</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4 col-6 offset-3 pb-3">
            <img class="img-fluid" src="{{ MEDIA_URL }}underline.png" alt="">
        </div>
    </div>
    {% if cart_items %}
    <div class="row">
        <div class="col-3 text-center">
            <p class="d-none d-md-block">Product Info</p>
        </div>
        <div class="col-3 text-center">
            <p class="d-none d-md-block">Price</p>
        </div>
        <div class="col-3 text-center">
            <p class="d-none d-md-block">Quantity</p>
        </div>
        <div class="col-3 text-center">
            <p class="d-none d-md-block">Total</p>
        </div>
    </div>
    <hr>
    {% for item in cart_items %}
    <div class="row">
        <div class="col-12 col-md-3 text-center">
            <p>{{ item.product.name }}</p>
            {% if item.product.image %}
            <img class="img-fluid w-25" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
            {% else %}
            <img class="img-fluid w-25" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
            {% endif %}
        </div>
        <div class="col-12 col-md-3 my-auto text-center">
            <p>£{{ item.product.price }}</p>
        </div>
        <div class="col-12 col-md-3 my-auto justify-content-center">
            <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="input-group col-6 offset-3">
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn" data-item_id="{{ item.item_id }}"
                                    id="decrement-qty_{{ item.item_id }}">
                                    <span>
                                        <i class="fas fa-minus fa-sm"></i>
                                    </span>
                                </button>
                            </div>
                            <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                                value="{{ item.quantity }}" min="1" max="4" data-item_id="{{ item.item_id }}"
                                id="id_qty_{{ item.item_id }}">
                            <div class="input-group-append">
                                <button class="increment-qty btn" data-item_id="{{ item.item_id }}"
                                    id="increment-qty_{{ item.item_id }}">
                                    <span>
                                        <i class="fas fa-plus fa-sm"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 offset-3 text-center">
                            <button class="update-link btns" type="submit">Update</button>
                        </div>
                        <div class="col-3 text-center">
                            <a class="remove-item btns" id="remove_{{ item.item_id }}">Remove</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-3 my-auto text-center">
            <p>£{{ item.product.price | calc_subtotal:item.quantity }}</p>
        </div>
    </div>
    <hr>
    {% endfor %}
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 delivery-link text-center">
            <a class="text-left " href="{% url 'help_centre' %}">
                <h6>See our delivery policy</h6>
            </a>
            <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
            <hr>
            <h6><strong>Sub total: £{{ sub_total|floatformat:2 }}</strong></h6>
            <hr>
            <h4><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
        </div>

    </div>

    <div class="row text-center">
        <div class="col pt-4 pb-4">
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg keep-shopping">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            <a href="{% url 'checkout' %}" class="btns">
                <span class="text-uppercase">Secure Checkout</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            {% else %}
            <p class="lead mb-5 text-center">Your cart is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg text-center">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% include 'cart/includes/remove_item_script.html' %}

{% endblock %}