{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid nav-padding">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="main-heading-padding">Shopping Cart</h2>
        </div>
    </div>
    {% if cart_items %}
    <div class="row">
        <div class="col-3 text-center">
            <p>Product Info</p>
        </div>
        <div class="col-3 text-center">
            <p>Quantity</p>
        </div>
        <div class="col-2 text-center">
            <p>Price</p>
        </div>
        <div class="col-2 text-center">
            <p>Delivery</p>
        </div>
        <div class="col-2 text-center">
            <p>Total</p>
        </div>
    </div>
    <hr>
    {% for item in cart_items %}
    <div class="row">
        <div class="col-3 text-center">
            <p>{{ item.product.name }}</p>
            <img src="{{ item.product.image.url }}" class="img-fluid w-25" alt="">
        </div>
        <div class="col-3 my-auto text-center">
            <p>{{ item.quantity }}</p>
        </div>
        <div class="col-2 my-auto text-center">
            <p>£{{ item.product.price }}</p>
        </div>
        <div class="col-2 my-auto text-center">
            <p>{{ item.product.delivery_cost }}</p>
        </div>
        <div class="col-2 my-auto text-center">
            <p>£{{ item.product.price }}</p>
        </div>
    </div>
    <hr>
    {% endfor %}
    <div class="row">
        <div class="col-6">
            Delivery Total:
        </div>
        <div class="col-6">
            Subtotal
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Grand Total
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a href="{% url 'products' %}"
                class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            <a href="" class="btns">
                <span class="text-uppercase">Secure Checkout</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="row">
    <div class="col">
    {% else %}
        <p class="lead mb-5">Your cart is empty.</p>
        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
    {% endif %}
        </div>
    </div>
</div>
{% endblock %}