{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid min-vh-100 nav-padding">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="main-heading-padding">Help Centre</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4 col-6 offset-3 pb-3">
            <img class="img-fluid" src="{{ MEDIA_URL }}underline.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row h-100">
                <h1>Helpppp</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}