html {
    height: 100%;
}

body {
    font-family: 'Shippori Mincho B1', serif;
}

/* Adds padding to content to stop nav overlapping */
.nav-padding {
    padding-top: 150px;
}

/* Colour navbar links */
nav a {
    color: black;
}

/* Sizes logo */
.logo-image {
    width: 200px;
}

.btn-outline-success {
    color: black;
    border-color: black;
}

/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-title {
    font-size: 45px;
    padding-top: 80px;
}

.home-nav-padding {
    padding-top: 70px;
}

.horizontal-dropdown {
    margin-top: 0px;
}

/* from Bulma for icons*/
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.main-heading-padding {
    padding-bottom: 20px;
}

.product-box {
    border-style: solid;
    border-color: black;
    padding: 50px 60px;
    margin-bottom: 30px;
}

.fav-icon {
    text-align: right;
}

/* Button styling  */
.btns {
color: #ffffff !important;
background: #000000;
padding: 10px;
display: inline-block;
transition: all 0.3s ease 0s;
font-size: 15px;
}

.btns:hover {
border-radius: 50px;
transition: all 0.3s ease 0s;
text-decoration: none;
}

.help-btn-padding {
    padding-right: 60px;
}

.help-btn-style{
    background-color: rgb(226, 27, 27);
}

.up-btn {
    height: 35px;
    width: 35px;
    position: fixed;
    bottom: 10px;
    right: 5px;
    border-radius: 50%;
}

.upbtn-link {
    cursor: pointer;
}
.footer-style {
    height: 100px;
}

.social-icons {
    font-size: 60px;
    padding-left: 70px;
    color: #000;
}
.insta {
    color: #e1306c;
}

/* Tablet view */
@media (max-width: 1030px) {
.hero-title {
    font-size: 35px;
    padding-top: 70px;
}

.logo-image {
    width: 120px;
}

.home-nav-padding {
    padding-top: 90px;
}

.product-box {
    padding: 20px 30px;
}

.social-icons {
    font-size: 50px;
    padding-left: 30px;
}

}

/* Mobile view */
@media (max-width: 500px) {
.hero-title {
    font-size: 25px;
    padding-top:180px;
}

.logo-image {
    width: 120px;
}
.home-nav-padding {
    padding-top: 95px;
}

.social-icons {
    font-size: 40px;
    padding-left: 30px;
}

.footer-style {
    height: 60px;
}
}