<div class="w-100 d-lg-none search-bar">
    <!-- Searchbar -->
    <form method="GET" action="{% url 'products' %}" class="d-flex">
        <div class="input-group w-100 ">
            <input class="form-control search-bar" type="text" name="q" placeholder="What is your Vision?"
                aria-label="Search">
            <div class="input-group-append">
                <button class="form-control btn btn-black border-0 rounded-0" type="submit">
                    <span class="icon"><i class="fas fa-search"></i></span>
                </button>
            </div>
        </div>
    </form>
</div>