{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<div class="container-fluid min-vh-100 w-100 p-0">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="main-heading-padding">{% trans "Sign In" %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4 pb-5">
            <img class="img-fluid" src="{{ MEDIA_URL }}underline.png" alt="">
        </div>
    </div>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p class="text-center">{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot text-center">

        <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>

        <div class="login-or text-center">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p class="text-center">{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

    <form class="login text-center" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="btns" href="{% url 'home' %}">Home <i class="fas fa-home"></i></a>

        <button class="primaryAction btns" type="submit">{% trans "Sign In" %} <i
                class="fas fa-sign-in-alt"></i></button>
        <p>
            <a class="button secondaryAction"
                href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </p>
    </form>
</div>

{% endblock %}