{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}

    <div class="text-center nav-padding">
        <h2 class="main-heading-padding">{% trans "Sign Out" %}</h2>
        <img class="img-fluid w-50 pb-5" src="{{ MEDIA_URL }}underline.png" alt="">
        <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>
    </div>
    <form method="post" class="text-center" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btns mb-3" type="submit">{% trans 'Sign Out' %}</button>
    </form>

{% endblock %}