{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}

    <div class="text-center nav-padding">
        <h2 class="main-heading-padding">{% trans "Change Password" %}</h2>
        <img class="img-fluid w-50 pb-5" src="{{ MEDIA_URL }}underline.png" alt="">
    </div>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change text-center">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btns" type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>

{% endblock %}