{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}

    <div class="text-center nav-padding">
        <h2 class="main-heading-padding">{% trans "Set Password" %}</h2>
        <img class="img-fluid w-50 pb-5" src="{{ MEDIA_URL }}underline.png" alt="">
    </div>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set text-center">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}" />
    </form>

{% endblock %}