{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}

    <div class="text-center nav-padding">
        <h2 class="main-heading-padding">{% trans "Verify Your E-mail Address" %}</h2>
        <img class="img-fluid w-50 pb-5" src="{{ MEDIA_URL }}underline.png" alt="">
    </div>

    <p class="text-center">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to
        finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
    </p>
    
    {% endblock %}