{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid min-vh-100 nav-padding">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="main-heading-padding">Products</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4 col-6 offset-3 pb-3">
            <img class="img-fluid" src="{{ MEDIA_URL }}underline.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            {% for r in current_rooms %}
            <h3 class="pb-3">{{ r.friendly_name }}</h3>
            {% endfor %}
        </div>
    </div>
    <div class="row mt-1 mb-2">
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper w-50">
                <select id="sort-dropdown"
                    class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to
                        high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high
                        to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)
                    </option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)
                    </option>
                </select>
            </div>
        </div>
        {% if search_term != 'None_None' %}
        <div class="col-12 col-md-6 order-md-first">
            <p class="text-muted mt-3 text-center text-md-left">
                {{ products|length }} Products{% if search_term %} found for
                <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <div class="card product-box">
                        {% if product.image %}
                        <a href="{% url 'product_details' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_details' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body text-center">
                            <p>{{ product.name }}</p>
                            <p>£{{ product.price }}</p>
                            <a href="{% url 'product_details' product.id %}" class="btns">View Item <i
                                    class="fas fa-binoculars fa-lg"></i></a>
                        </div>
                        {% if request.user.is_superuser %}
                        <small class="text-center">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> |
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Move to top button -->
<div class="up-btn shadow-sm border border-black bg-white">
    <a class="upbtn-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!-- Move to top button -->
<script type="text/javascript">
    $('.upbtn-link').click(function (e) {
        window.scrollTo(0, 0);
    });
</script>

<script type="text/javascript">
    $('#sort-dropdown').change(function () {
        let selector = $(this);
        let currentUrl = new URL(window.location);

        let valSelected = selector.val();
        if (valSelected != "reset") {
            let sort = valSelected.split("_")[0];
            let direction = valSelected.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    });
</script>
{% endblock %}